/* src/ResponsiveTable.css */
.container {
  padding-top: 40px;
}

.table-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Align items to the top */
  margin: 0 auto;
  max-width: 1200px; /* Adjust as needed */
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-right: 20px; /* Space between table and image */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  
}

th{
  color: #ddd;
  
}

.rank-heading{
  padding-left: 60px;
}

.main-logo{
  width: 30px;
  height: 30px;
  margin-bottom: -8px;
  padding-right: 10px;
}

.up-down-arrow{
  width: 10px;
  height: 10px;
}

.rank_logo{
  width: 20px;
  height: 20px;
  padding-right: 30px;
}

th{
  background:  rgb(43, 43, 189);
}

thead {
  background-color: #f4f4f4;
}

.name-cell {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 20px;  /* Set the width to 10px */
  height: 20px; /* Set the height to 10px */
  border-radius: 10px; /* Set the border radius to 10px */
  margin-right: 10px;
}

.heading_main {
  text-align: left;
  margin-bottom: 10px;
  font-size: large;
}

.image-container {
  flex-shrink: 0;
  border: 0.5px solid grey;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
}

.date-time {
  font-size: 14px;
  color: #666;
  margin-top: 20px;
}

.image-container img {
  max-width: 200px;
  height: auto;
}

.top-profile-image{
  width: 190px;
  border-radius: 5px;
  
}

.certi_heading{
  font-size: medium;
  margin-top: 0px;
  color: rgb(69, 69, 235);
}

.certi_name{
  margin-top: 0px;
  font-size: large;
}

.certi_designation{
  margin-top: -40px;
  font-size: medium;
}



@media (max-width: 768px) {
  .table-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-container {
    margin-right: 0;
    margin-bottom: 20px; /* Space between table and image in mobile view */
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    margin-bottom: 15px;
  }

  td {
    display: flex;
    justify-content: space-between;
    padding-left: 50%;
    position: relative;
    text-align: right;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }
}
